.notificationsGenCont{
    height: 400px;
    width: 600px;
    overflow-y: scroll;
    border-top: var(--thinBorder);
    transition: all ease-in 0.3s;
}

.notiContTitle{
    padding: 15px 21px;
}

.onBoNaviBackBTN{
    width: 150px;
    padding: 9px;
}

.onBoNaviBackBTN:hover{
    color: teal;
}

.profileNotifCont{
    display: flex;
    border: var(--thinBorder);
    margin: 9px 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    cursor: pointer;
}

.profNotifText{
    padding: 0 15px;
}

.profNotiSubTitle{
    padding: 0 12px;
    font-size: 0.9em;
}

.profileNotifIcon{
    padding: 9px;
}

.animalIconCont{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.animalIconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.eachAnimalIcon{
    margin: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    border: var(--transparentBorder);
}

.eachAnimalIconSELECTED{
    margin: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    border: solid 3px var(--azureMainTheme);
}
.eachAnimalName{
    font-size: 0.9em;
    display: block;
    word-wrap: normal;
    text-align: center;
}

.picNotificationIntro{
    padding: 21px;
    font-size: 1.3em;
}

.acceptPicCont{
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 21px;
    width: 100%;

}

.profileMini{
    display: flex;
    margin: 15px 0;
    justify-content: center;
    align-items: center;
    border-top: solid 0.5px black;
    border-bottom: solid 0.5px black;
    width: 80%;
}

.pickedIcon{
    width: 100px;
}
.userName{
    font-size: 1.5em;
    padding: 15px;
}

.profileAcceptBTN{
    width: 70%;
    text-align: center;
    text-transform: capitalize;
    color: var(--azureMainTheme);
    padding: 15px;
    border: solid 2px transparent;
    font-size: 1.5em;
    font-weight: 700;
    margin: 15px;
    cursor: pointer;
    transition: var(--general-transition);
    border-radius: 5px;
}
.profileAcceptBTN:hover{
    background-color: var(--azureMainTheme);
    color: white;
}

.profileAcceptSubtxt{
    margin: 15px 0;
    width: 80%;
    color: rgb(82, 82, 82);
    text-align: justify;
    font-size: 0.8em;
}

@media (max-width: 900px) {
    .notificationsGenCont{
        width: 100%;
    }
}