.ProfileHeadCont{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    border-bottom: solid 2px var(--azureMainTheme);
    box-shadow: var(--generalBoxShadow);
}

.profilePic{
    border-radius: 50%;
    border: solid 5px var(--azureMainTheme);
    margin: 21px;
}

.profileName{
    font-size: 4em;
    width: 100%;
    padding: 0;
    margin: 0%;
    text-transform: uppercase;
    font-weight: 200;
    transform: translateY(11px);
}

@media (max-width: 700px) {
    .profileName{
        font-size: 2.5em;
    }
}
