.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150vh;
}

.mainTitle{
  font-family: 'Baloo Tammudu 2', Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, cursive;
  font-weight: 500;
  font-size: 2em;
  word-wrap: break-word;
  line-height: 1;
  padding: 0;
  position: fixed;
  bottom: 77px;
  left: 18px;
  color: transparent;
  transition: var(--general-transition);
}

.mainTitle:hover{
  color: var(--azureMainTheme);
}
.homeUserTray:hover>.mainTitle{
  color: black;
}
.homeUserTray {
  width: 100%;
  height: fit-content;
  border-top: 1px solid #eaeaea;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  position: fixed;
  bottom: 0;
}

.aHomeLikeCont{
  padding: 21px;
  transition: var(--general-transition);

}

.aHomeLikeCont:hover{
  cursor: pointer;
  color: var(--azureMainTheme);
}

.aHomeLikeIcon{
  margin: 6px;
}

.likeIconText{
  margin: 6px;
  font-weight: 600;
}

.homeAuthBTN{
  padding: var(--btnPadding);
  font-size: 0.8em;
  border: var(--transparentBorder);
  width: 90px;
  margin: 9px;
  text-align: center;
  transition: var(--general-transition);
  box-shadow: var(--generalBoxShadow);
}

.homeAuthBTN:hover{
  border: var(--thinBorder);
  cursor: pointer;
}

.notificationIcon{
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.nameAndProfilePicCont{
  display: flex;
  align-items: center;
}
.profilePic{
  width: 55px;
  margin: 0 21px;
  cursor: pointer;
}
.profileName{
  font-style: 1.1em;
  cursor: pointer;
}
.notificationNoneIcon{
  padding: 21px;
}

.notifCountNumb{
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 0.8em;
  transform: translate(33px, -10px);
}
.ClientCart{
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.cartCountNumber{
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 0.8em;
  transform: translate(33px, -10px);
}


@media (max-width: 600px) {

}