@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root{
  --azureMainTheme: rgb(7, 160, 194);
  --blueMainTheme: #021889;
  --maroonMainTheme: rgb(100, 38, 9);

  --aquaMistAuxTheme: rgb(62, 68, 110);
  --darkGreySecTheme: rgb(92, 91, 93);
  
  --general-transition: all ease-in 0.3s;
  
  --generalBoxShadow: 3px 3px 3px rgba(0, 0, 0, 0.23);
  --aHighlightBoxShadow: 6px 8px 15px rgba(0, 0, 0, 0.258);

  --transparentBorder: solid 1px transparent;
  --thinBorder: solid 0.5px rgba(0, 0, 0, 0.405);
  --btnPadding: 6px 12px;
}